/* .header{
    color: yellow;
}


.active{
    color: red;
} */

/* body {
    background-color: black;
}



#products .icon {
    height: 500px;
}

#products .icon i {
    font-size: 70px;
    color: gray;
    cursor: pointer;

}



.active-icon {
    color: yellow !important;
}




.active-body {
    background-color: white !important;
} */


body {
    background-color: gray;
}

button{
    display: block !important;
    margin : 0 auto !important;
}